<div class="verticalcenter">
	<a href="#/"><img src="assets/img/logo-big.png" alt="Logo" class="brand" /></a>

	<!-- When page launches -->
	<div ng-hide='message != ""' class="panel panel-primary">
		<div class="panel-body">
			<h4 class="text-center" style="margin-bottom: 25px;">Reset Password</h4>
			<form action="#" class="form-horizontal" style="margin-bottom: 0px !important;">
				<div class="form-group">
					<div class="col-sm-12">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
							<input type="email" class="form-control" id="email" name="email" ng-model='email' placeholder="Email">
						</div>
					</div>
				</div>
			</form>

		</div>
		<div class="panel-footer">
			<div class="pull-left">
				<a href="#/" class="btn btn-default"><i class="fa fa-arrow-left"></i> Back</a>
			</div>
			<div class="pull-right">
				<a class="btn btn-success" ng-click='sendRequest();'>Next <i class="fa fa-arrow-right"></i></a>
			</div>
		</div>
	</div>

	<!-- When a response has been received -->
	<div ng-show='message != ""' class="panel panel-primary">
		<div class="panel-body">
			<h4 class="text-center" style="margin-bottom: 25px;">{{ message }}</h4>
		</div>
		<div class="panel-footer">
			<div class="pull-left">
				<a class="btn btn-default" ng-click="resetMessage();"><i class="fa fa-arrow-left"></i> Back</a>
			</div>
		</div>
	</div>

</div>
