<div id="page-heading">
  <ol class="breadcrumb">
    <li><a href="#/users">Users</a></li>
    <li class="active">Show a User</li>
  </ol>

  <h1> Show a User</h1>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <div class="col-md-12">
        <label class="col-sm-3 control-label">Email</label>
        <div class="col-sm-9">
          {{ user.email }}
        </div>
      </div>

      <div class="col-md-12">
        <label class="col-sm-3 control-label">Roles</label>
        <div class="col-sm-9">
          <ul>
            <li ng-repeat="role in user.roles">
              <span>{{ role.name }}</span>
            </li>
          </ul>
        </div>
      </div>

      <div ng-show='!isSuperhero && (user.projects.length > 1 || hasRole(activeUser, "superhero"))'>
        <div class="col-md-12">
        <label class="col-sm-3 control-label">Projects</label>
          <div class="col-sm-9">
            <ul>
              <li ng-repeat="project in user.projects">
                <span>{{ project.name }}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>