<div id="page-heading">
  <ol class="breadcrumb">
    <li><a href="#/">Dashboard</a></li>
    <li class="active">Users</li>
  </ol>

  <h1> Users</h1>
</div>


<div class="container-fluid">

  <div class="row">
    <div class="col-md-12">

      <panel panel-class="panel-primary" data-heading="My Users">
        <table class="table table-bordered table-condensed">
          <tr style="font-weight: bold">
            <td style="width:20%">Email</td>
            <td style="width:35%">Projects</td>
            <td style="width:20%">Roles</td>
            <td style="width:25%">Edit</td>
          </tr>
          <tr ng-repeat="user in users">
            <td>
              <!-- editable username (text with validation) -->
              <span>{{ user.email || 'empty' }}</span>
            </td>
            <td>
              <ul ng-repeat='project in user.projects'>
                <li>{{ project.name }}</li>
              </ul>
            </td>
            <td>
              <ul ng-repeat='role in user.roles'>
                <li>
                  <span> {{ role.name }} </span>
                </li>
              </ul>
            </td>
            <td>
              <a class="btn btn-success btn-sm" href="#/showUser/{{ user._id }}">Show</a>

              <a ng-show='(user._role.name !== "administrator") || (activeUser._role.name === "superhero")' class="btn btn-primary btn-sm" href="#/editUser/{{ user._id }}">Edit</a>
              <a ng-show='(user._role.name !== "administrator") || (activeUser._role.name === "superhero")' class="btn btn-danger btn-sm" confirm-click='' confirm-click-function='deleteUser(user._id)' confirm-click-class='btn btn-orange btn-sm'>Delete</a>
            </td>
          </tr>
        </table>
        <a class="btn btn-default" href="#/addUser">Add a new User</a>
      </panel>
    </div> 