<div id="page-heading">
  <ol class="breadcrumb">
    <li><a href="#/">Dashboard</a></li>
    <li class="active">Users</li>
  </ol>

  <h1> Users</h1>
  <!--
  <div class="options">
    <div class="btn-toolbar">
      <div class="btn-group" dropdown>
        <button type="button" class="btn btn-default dropdown-toggle">
          Export as <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
      <a href="#" class="btn btn-default hidden-xs"><i class="fa fa-cog"></i></a>
    </div>
  </div>
-->
</div>


<div class="container-fluid">

  <div class="row">
    <div class="col-md-12">

      <panel panel-class="panel-primary" data-heading="My Users">
      <!--
        <panel-controls>
        <a href="javascript:;"><i class="fa fa-cog"></i></a>
        <a href="javascript:;"><i class="fa fa-wrench"></i></a> 
        <a href=""><panel-control-collapse class="fa fa-chevron-down"></panel-control-collapse></a>
      </panel-controls>
    -->
    <table class="table table-bordered table-condensed">
      <tr style="font-weight: bold">
        <td style="width:20%">Email</td>
        <td style="width:35%">Project</td>
        <td style="width:20%">Role</td>
        <td style="width:25%">Edit</td>
      </tr>
      <tr ng-repeat="user in users">
        <td>
          <!-- editable username (text with validation) -->
          <span>{{ user.email || 'empty' }}</span>
        </td>
        <td>
          <ul ng-repeat='project in user.projects'>
            <li>{{ projects._project }}</li>
          </ul>
        </td>
        <td>
          <span> {{ user._role.name }} </span>
        </td>
        <td>
          <a class="btn btn-primary btn-sm" href="#/editUser">Edit</a>
          <a class="btn btn-danger btn-sm" href="#/">Delete</a>
        </td>
      </tr>
    </table>
    <button class="btn btn-default" ng-click="addUser()">Add row</button>
  </panel>
</div>    <!-- container -->
