<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 10)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<!-- Basic Page Needs ================================================== -->
	<meta charset="utf-8">
	<title>AKIOO - Agence web et de communication digitale</title>
	<meta name="description" content="AKIOO - Agence web et de communication digitale en Martinique. Création de sites web et d'applications mobiles">
	<meta name="author" content="AKIOO">
	
	<!-- Mobile Specific Metas ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<!-- CSS ================================================== -->
	
	<!-- web font  -->
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>

	<!-- Revolution slider  -->
	<link rel="stylesheet" type="text/css" href="js-plugins/rs-plugin/css/settings.css" media="screen" />
	<!-- Neko framework  -->
	<link type="text/css" rel="stylesheet" href="custom-icons/css/custom-icons.css">
	<link type="text/css" rel="stylesheet" href="neko-framework/external-plugins/external-plugins.min.css">
	<link type="text/css" rel="stylesheet" href="neko-framework/css/layout/neko-framework-layout.css">
	<link type="text/css" rel="stylesheet" id="color" href="neko-framework/css/color/neko-framework-sea-green.css">

	<link type="text/css" rel="stylesheet" href="css/custom.css">
	
	<!-- Favicons ================================================== -->
	<link rel="shortcut icon" href="images/index/akioo-icon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="144x144" href="images/apple-touch-icon-144x144.png">

	<script src="neko-framework/external-plugins/modernizr/modernizr.custom.js"></script>

</head>
<body ng-app="akioo" ng-controller="IndexController" class="activate-appear-animation header-6 parallaxed-footer" data-spy="scroll" data-target=".menu-header" data-offset="150">
	<div id="preloader" class="v-align-translate">
		<div class="neko-preloader"></div>
	</div>
	<!-- global-wrapper -->
	<div id="global-wrapper">
		<!-- header -->
		<header class="menu-header navbar-fixed-top" role="banner">

			<section id="pre-header">
				<div class="container">
					<div class="row">
					<!--
						<div class="col-sm-6 hidden-xs">
							<ul class="quick-menu">
								<li><a href="template-site-map.html" class="linkLeft">Site map</a></li>
								<li><a href="template-about.html">About us</a></li>
								<li><a href="template-team.html">Our team</a></li>
								<li><a href="template-contact.html">Contact</a></li>
							</ul>
						</div>
					-->
						<!--
						<div class="col-sm-6 col-xs-12 quick-contact">
							<div class="contact-phone"> <i class="icon-mobile"></i>615.987.1234 </div>
							<ul class="social-icons">
								<li><a href="#" class="rss" title="rss"><i class="icon-glyph-342"></i></a></li>
								<li><a href="#" class="facebook" title="facebook"><i class="icon-glyph-320"></i></a></li>
								<li><a href="#" class="twitter" title="twitter"><i class="icon-glyph-339"></i></a></li>
								<li><a href="#" class="gplus" title="gplus"><i class="icon-glyph-317"></i></a></li>
								<li><a href="#" class="dribbble" title="dribbble"><i class="icon-dribbble"></i></a></li>
								<li><a href="#" class="linkedin" title="linkedin"><i class="icon-linkedin"></i></a></li>
							</ul>
						</div>
					-->
				</div>
			</div>
		</section>

		<div class="container">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					<!-- hamburger button -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- / hamburger button -->

					<!-- Logo -->
					<a class="navbar-brand" href="#/">
						<h1><i class="icon-glyph-223 large"></i>AKIOO</h1>
					</a>
					<!-- /Logo -->
				</div>
				<div class="collapse navbar-collapse">
					<!-- Main navigation -->
					<ul class="nav navbar-nav navbar-right" id="scroll-menu">
						<li>
							<a href="#rs-slider-fullscreen">{{ 'menu.accuel' | translate }}</a>
						</li>

						<li> 
							<a href="#lagence">{{ 'menu.agence' | translate }}</a>
						</li>

						<li>
							<a href="#nosservices">{{ 'menu.services' | translate }}</a>
						</li>

						<li> 
							<a href="#lequipe">{{ 'menu.equipe' | translate }}</a>
						</li>

						<li>
							<a href="#technologies">{{ 'menu.technologies' | translate }}</a>
						</li>

						<li>
							<a href="#contact">{{ 'menu.contact' | translate }}</a>
						</li>

						<li ng-show="getLanguage() == 'fr'">
							<a href="" ng-click="changeLanguage('en')" ><img style="width: 28px;height:20px;" src="images/index/flags/uk.png"></a>
						</li>
						<li ng-show="getLanguage() == 'en'">
							<a href="" ng-click="changeLanguage('fr')"  ><img style="width: 28px;height:20px;" src="images/index/flags/france.png"></a>
						</li>
					</ul>
					<!-- / End main navigation -->
				</div>


			</nav>
		</div>

	</header>
	<!-- / header -->

	<main id="content">
		<!--revolution slider -->
		<section id="rs-slider-fullscreen" class="custom-neko-skin dark-color">
			<div class="tp-banner-container">
				<div class="tp-banner">
					<ul>

						<!-- SLIDE 1 -->
						<li data-transition="fade" data-slotamount="5" data-masterspeed="700"  >
							<!-- MAIN IMAGE -->
							<img src="../images/index/slide-1.jpg"   alt="slidebg1"  data-bgfit="cover" data-bgposition="top center" data-bgrepeat="no-repeat">

							<!-- LAYERS -->
							<div class="tp-caption sfb start rs-parallaxlevel-1" data-x="center" data-hoffset="0" data-voffset="-70" data-y="center" data-speed="1000" data-start="500" data-easing="Back.easeInOut" data-endspeed="300" style="z-index: 6">
								<h1 class="x-large text-light">{{ 'slides.1.sentences.1' | translate }}</h1>
							</div>

							<!-- LAYER NR. 1 -->
							<div class="tp-caption sfl rs-parallaxlevel-2" data-x="center" data-y="center" data-hoffset="0" data-voffset="0" data-speed="700" data-start="1200" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6">
								<h2 class="text-light responsive-sentence">{{ 'slides.1.sentences.2' | translate }}</h2>
							</div>
						</li>

						<!-- SLIDE 2 -->
						<li data-transition="fade" data-slotamount="5" data-masterspeed="700" >
							<!-- MAIN IMAGE -->
							<img src="../images/index/slide-5.jpg"   alt="slidebg1"  data-bgfit="cover" data-bgposition="top center" data-bgrepeat="no-repeat">

							<!-- LAYERS -->
							<div class="tp-caption sfb start rs-parallaxlevel-4" data-x="center" data-hoffset="0" data-voffset="-70" data-y="center" data-speed="1000" data-start="500" data-easing="Back.easeInOut" data-endspeed="300" style="z-index: 6">
								<h1 class="x-large text-light">{{ 'slides.2.sentences.1' | translate }}</h1>
							</div>

							<!-- LAYER NR. 1 -->
							<div class="tp-caption sfl rs-parallaxlevel-5" data-x="center" data-y="center" data-hoffset="0" data-voffset="0" data-speed="700" data-start="1200" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6">
								<h2 class="text-light">{{ 'slides.2.sentences.2' | translate }}</h2>
							</div>

							<!-- LAYER NR. 2 -->
							<div class="tp-caption sfr rs-parallaxlevel-6 slider-btn-wrapper" data-x="center" data-y="center" data-hoffset="0"  data-voffset="50" data-speed="1000" data-start="1500" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6">
								<h3 class="text-light">{{ 'slides.2.sentences.3' | translate }}</h3>
							</div>

						</li>

						<!-- SLIDE 3 -->
						<li data-transition="fade" data-slotamount="5" data-masterspeed="700" >
							<!-- MAIN IMAGE -->
							<img src="../images/index/slide-3.jpg"   alt="slidebg1"  data-bgfit="cover" data-bgposition="top center" data-bgrepeat="no-repeat">

							<!-- LAYERS -->
							<div class="tp-caption sfb start rs-parallaxlevel-7" data-x="center" data-hoffset="0" data-voffset="-70" data-y="center" data-speed="1000" data-start="500" data-easing="Back.easeInOut" data-endspeed="300" style="z-index: 6">
								<h1 class="x-large text-light">{{ 'slides.3.sentences.1' | translate }}</h1>
							</div>

							<!-- LAYER NR. 1 -->
							<div class="tp-caption sfl rs-parallaxlevel-8" data-x="center" data-y="center" data-hoffset="0"  data-voffset="0" data-speed="700" data-start="1200" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6">
								<h2 class="text-light">{{ 'slides.3.sentences.2' | translate }}</h2>
							</div>

						</li>
					</ul>
				</div>
			</div>
		</section>
		<!-- / revolution slider -->

		<!-- lagence -->
		<section id="lagence" class="clearfix">
			<div class="container">

				<div class="row">
					<div class="col-md-12 pt-large mb-large text-center heading" data-nekoanim="fadeInUp" data-nekodelay="10">
						<h1><span><i class="icon-glyph-223 medium"></i></span>{{ 'sections.agence.caption' | translate }}</h1>
					</div>
				</div>

			</div>

			<article data-nekoanim="fadeInUp" data-nekodelay="200" class="main-color section-fw">
				<div class="container-fw">
					<div class="row">

						<div class="col-md-6 no-padding image-background cover history-1">
						</div>

						<div class="col-md-6 col-md-offset-6 padding-medium">
							<h1>{{ 'sections.agence.content.h1' | translate }}</h1>
							<p>
								{{ 'sections.agence.content.p' | translate }}
							</p>
						</div>

					</div>

				</div>
			</article>

		</section>
		<!-- L'agence -->

		<!-- services -->
		<section id="nosservices" class="pt-large pb-large">
			<div class="container">

				<div class="row">
					<div class="col-md-12 mb-medium text-center heading" data-nekoanim="fadeInUp" data-nekodelay="10">
						<h1><span><i class="icon-glyph-223 medium"></i></span>{{ 'sections.services.caption' | translate }}</h1>
					</div>
				</div>

				<div class="row">


					<div class="col-md-3 col-sm-6"  data-nekoanim="fadeInLeft" data-nekodelay="300">
						<article class="box-icon">
							<a href="#">
								<i class="icon-glyph-252 x-large"></i>
								<h3>{{ 'sections.services.content.1.h3' | translate }}</h3>
								<p>{{ 'sections.services.content.1.p' | translate }}</p>
							</a>
						</article>
					</div>

					<div class="col-md-3 col-sm-6" data-nekoanim="fadeInDown" data-nekodelay="600">
						<article class="box-icon">
							<a href="#">
								<i class="icon-glyph-9 x-large"></i>
								<h3>{{ 'sections.services.content.2.h3' | translate }}</h3>
								<p>{{ 'sections.services.content.2.p' | translate }}</p>
							</a>
						</article>
					</div>

					<div class="col-md-3 col-sm-6" data-nekoanim="fadeInDown" data-nekodelay="900">
						<article class="box-icon">
							<a href="#">
								<i class="icon-glyph-220 x-large"></i>
								<h3>{{ 'sections.services.content.3.h3' | translate }}</h3>
								<p>{{ 'sections.services.content.3.p' | translate }}</p>
							</a>
						</article>
					</div>

					<div class="col-md-3 col-sm-6" data-nekoanim="fadeInRight" data-nekodelay="1200">
						<article class="box-icon">
							<a href="#">
								<i class="icon-glyph-16 x-large"></i>
								<h3>{{ 'sections.services.content.4.h3' | translate }}</h3>
								<p>{{ 'sections.services.content.4.p' | translate }}</p>
							</a>
						</article>
					</div>

				</div>							
			</div>
		</section>
		<!-- services -->

		<!-- references -->
		<section id="references" class="parallax text-light image-background parallax-1" data-stellar-background-ratio="0.2">
			<div class="mask opacity-3">
				<div class="container">
					<div class="row pt-large pb-large">
						<div class="col-md-12 text-center" data-nekoanim="fadeInUp" data-nekodelay="10">
							<h1>{{ 'parallaxPhrase' | translate }}</h1>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- references -->

		<!-- team -->
		<section class="pt-large rollover effect-sarah" id="lequipe">
			<div class="container-fw">

				<div class="row">
					<div class="col-md-12 text-center heading" data-nekoanim="fadeInUp" data-nekodelay="10">
						<h1><span><i class="icon-glyph-223 medium"></i></span>{{ 'sections.equipe.caption' | translate }}</h1>
					</div>
				</div>


				<div class="row-fw clearfix">
					<div class="col-sm-6 col-md-6 no-padding" data-nekoanim="fadeIn" data-nekodelay="100">
						<article class="text-center">
							<figure class="dark-color">
								<img src="images/index/team/mat.jpg" alt="image" class="responsive">
								<figcaption>
									<h2 class="text-light"><small>Matthias</small><br />
										THOMAS-LAMOTTE<br>
										<small class="text-main-color"><strong>{{ 'sections.equipe.people.matthias.position' | translate }}</strong></small>
									</h2>
									<p class="description text-light">
										{{ 'sections.equipe.people.matthias.description.1' | translate }}<br/>
										{{ 'sections.equipe.people.matthias.description.2' | translate }}
									</p>
								</figcaption>
							</figure>
						</article>
					</div>

					<div class="col-sm-6 col-md-6 no-padding" data-nekoanim="fadeIn" data-nekodelay="100">
						<article class="text-center">
							<figure class="dark-color">
								<img src="images/index/team/pauline.jpg" alt="image" class="responsive">
								<figcaption>
									<h2 class="text-light"><small>Pauline</small><br />
										JAHOUEL<br>
										<small class="text-main-color"><strong>{{ 'sections.equipe.people.pauline.position' | translate }}</strong></small>
									</h2>
									<p class="description text-light">
										{{ 'sections.equipe.people.pauline.description.1' | translate }} <br/>
										{{ 'sections.equipe.people.pauline.description.2' | translate }}
									</p>
								</figcaption>
							</figure>
						</article>
					</div>
				</div><!-- row -->

			</div><!-- container -->
		</section>
		<!-- team -->

		<!-- technologies -->
		<section class="pt-large rollover effect-sarah" id="technologies">
			<div class="container-fw">

				<div class="row">
					<div class="col-md-12 text-center heading" data-nekoanim="fadeInUp" data-nekodelay="10">
						<h1><span><i class="icon-glyph-223 medium"></i></span>{{ 'sections.technologies.caption' | translate }}</h1>
					</div>
				</div>


				<div class="row">

					<div class="col-md-6 border-grid">

						<div class="row">
							<div class="col-sm-6">
								<img src="../images/index/technologies/nodejs.png" alt="nodeJS" class="img-responsive">
							</div>

							<div class="col-sm-6">
								<img src="../images/index/technologies/angularjs.png" alt="AngularJS" class="img-responsive">
							</div>
						</div>

						<div class="row">
							<div class="col-sm-6">
								<img src="../images/index/technologies/mongodb.png" alt="MongoDB" class="img-responsive">
							</div>

							<div class="col-sm-6">
								<img src="../images/index/technologies/debian.png" alt="Debian" class="img-responsive">
							</div>
						</div>

					</div>

					<div class="col-md-6">
						<h2><span>{{ 'sections.technologies.content.h2.1' | translate }}</span>{{ 'sections.technologies.content.h2.2' | translate }}</h2>
						<p> 
							{{ 'sections.technologies.content.p.1' | translate }}
						</p>
						<ul>
							<li>NodeJS</li>
							<li>AngularJS</li>
							<li>MongoDB</li>
							<li>Debian</li>
						</ul>
						<p>
							{{ 'sections.technologies.content.p.2' | translate }}
						</p>
					</div>
				</div>
			</div>
		</section>
		<!-- technologies -->

		<!-- contact --> 
		<section id="contact" class="pt-large image-background contact-image">

			<div class="container">
				<div class="row pb-large"> 

					<div class="col-md-6 col-md-offset-3 text-center"  data-nekoanim="fadeInUp" >
						<div class="box light-color">
							<i class="icon-glyph-223 x-large"></i>
							<h2 class="mt">{{ 'sections.contact.h2' | translate }}</h2>

							<p class="mb">
								{{ 'sections.contact.p' | translate }}
							</p>
							<a href="mailto:contact@AKIOO.com" class="btn large primary">{{ 'sections.contact.contactBtn' | translate }}</a>
							<h2>AKIOO</h2>
							<address>
								<p>
									19, rue du Surf, Anse Bonneville<br>
									Tartane, Trinité, 97220, MQ, France <br>
									Fixe: +596 596 584 868 <br>
									Mobile: +596 696 066 823 <br>
									<a href="mailto:contact@AKIOO.com">contact@AKIOO.com</a>
								</p>
							</address>
						</div>
					</div>

				</div>
			</div>

		</section>
		<!-- contact -->
	</main>
	<!-- / content -->

	<!--  Footer -->
	<footer id="main-footer">
		<div class="container">
			<div class="row">

				<div class="col-sm-12 text-center">
					<div class="footer-widget">
						<h1>AKIOO</h1>
						<!--<a href="home-1.html"><img src="images/logo-typo.png" alt="EDENA website template" class="pb responsive" /></a>-->
						<address>
							<p>
								19, rue du Surf, Anse Bonneville | Tartane, Trinité, 97220, MQ, France | +596 596 584 868 | +596 696 066 823 | <a href="mailto:contact@AKIOO.com">contact@AKIOO.com</a>
							</p>
						</address>
						<ul class="social-icons dark-color circle">
							<li>
								<a href="#" class="facebook" title="facebook"><i class="icon-glyph-320"></i></a>
							</li>
							<li>
								<a href="#" class="twitter" title="twitter"><i class="icon-glyph-339"></i></a>
							</li>
						</ul> 
					</div>
				</div>

			</div>
		</div>

		<div id="footer-rights">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<p>{{ 'copyright' | translate }}</p>
					</div>

				</div>
			</div>
		</div>
	</footer>
	<!-- Footer -->

</div>
<!-- global wrapper -->

</body>

<!-- End Document ================================================== -->

<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="neko-framework/js/jquery/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="neko-framework/js/jquery-ui/jquery-ui-1.8.23.custom.min.js"></script>

<!-- external framework plugins -->
<script type="application/javascript" src="neko-framework/external-plugins/external-plugins.min.js"></script>

<!-- neko framework script -->
<script type="text/javascript" src="neko-framework/js/neko-framework.js"></script>

<!-- Revolution slider -->
<script type="text/javascript" src="js-plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="js-plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

<!-- neko custom script -->	
<script src="js/custom.js"></script>

<!-- Angular -->
<script src="bower_components/angular/angular.min.js"></script>

<!-- Angular packages -->
<script src="bower_components/angular-translate/angular-translate.min.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>

<!-- Angular app -->
<script src="js/app.js"></script>
<script src="js/config.js"></script>
<script src="js/routing.js"></script>
<script src="js/translate.js"></script>

<!-- Project Module -->
<script src="js/project/projectModule.js"></script>
<script src="js/project/projectService.js"></script>

<!-- Angular Controllers -->
<script src="js/controllers/indexController.js"></script>

</html>