<div id="page-heading">
  <ol class="breadcrumb">
    <li><a href="#/modules/realestate/propertyTypes">Property Types</a></li>
    <li class="active">Show a Property Type</li>
  </ol>

  <h1> Show Property Type {{ propertyType.name }}</h1>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <form action class="form-horizontal">
        <fieldset disabled>
          <legend>General Information</legend>
          <div class="form-group">
            <label class="col-md-3 control-label">Name</label>
            <div class="col-md-6">
              <input type="text" class="form-control" id='name' name='name' ng-model='propertyType.name' required />
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-3 control-label">Description</label>
            <div class="col-md-6">
              <textarea class="form-control" rows='4' id='details' name='details' ng-model='propertyType.description'></textarea>
            </div>
          </div>

          <div ng-show="propertyType.projects.length > 1" class="form-group">
            <label class="control-label col-md-3">Projects to which it belongs</label>
            <div ng-repeat="project in propertyType.projects" class="checkbox col-md-9 col-md-offset-3" ng-show="project.checked">
              <label>
                <input type="checkbox" checked="checked"> {{ project.name }}
              </label>
            </div>
          </div>

        </fieldset>
      </form>

    </div>
  </div>
</div>