<div id="page-heading">
  <ol class="breadcrumb">
    <li><a href="#/">Dashboard</a></li>
    <li class="active">Edit a User</li>
  </ol>

  <h1> Edit a User</h1>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <form action class="form-horizontal row-border">

        <div class="form-group">
          <label class="col-sm-2 control-label">Email</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id='email' name='email' ng-model='user.email' value='{{ user.email }}' required />
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Password</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" id='password' name='password' ng-model='user.password' />
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Role</label>
          <div class="col-sm-9">
            <select ng-model='user._role._id' required ng-options='role._id as role.name for role in roles'></select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Projects</label>
          <div class="col-sm-9">
            <ul>
              <li ng-repeat='usersProject in usersProjects'>
                {{ usersProject._project.name }}
              </li>
            </ul>
          </div>
        </div>

      </form>

    </div>
  </div>
</div>